/* Layout */

/* Variáveis */
:root {
    --preto: #1B1B1B;
    --dourado: #C9B36C;
    --branco: #FFFFFF;
    --douradoClaro: #D2B86B;
    --areia: #B86F3E;
    --verde: #3E8B4F;
    --azul: #3B6DA3;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel Decorative';
}

.container {
    display: flex;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--branco);
    padding: 2px 20px;
    color: var(--areia);
    border-radius: 25px;
    border: 2px solid var(--douradoClaro);
}

/* Fim - Layout */


/* Smartphone Portrait */

/* Cabeçalho */
header {
    height: 55px;
    background-color: var(--preto);
    border-bottom: 2px solid var(--dourado);
}

#logo img {
    width: 50px;
    height: 50px;
}

#check {
    display: none;
}

label {
    color: rgba(201, 179, 108);
    font-size: 2rem;
    position: fixed;
    right: 15px;
    top: 5px;
}

nav ul {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 55px;
    right: -50%;
    width: 50%;
    transition: all 0.5s;
}

/* Ação para a caixa checkbox */
/* Quando selecionar, mudar as propridades ul */
#check:checked~ul {
    right: 0px;
}

nav ul li {
    list-style: none;
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid var(--dourado);
}

nav ul li a {
    text-decoration: none;
    color: var(--dourado)
}

/* Principal */
main {
    height: 61vh;
    background: url(./img/lizard.jpg);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

main h1 {
    color: var(--dourado);
    margin-top: 25px;
}

main h2 {
    color: #FFFFFF;
    font-size: 1.85rem;
    font-weight: 100;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

/* Destaque */
#destaque {
    padding: 50px 10px;
    background: url(./img/jim.jpg);
    background-size: cover;
    background-position: center;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

#hero-text h2 {
    margin-bottom: 15px;
    color: var(--dourado);
    text-align: center;
    font-weight: 900;
}

#hero-text p {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
}

.topics {
    display: flex;
    align-items: center;
}

.topics img {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 80px;
    height: 80px;
}

.topics p {
    margin-left: 15px;
}

/* Poeta do Caos */
#poetacaos {
    background-color: var(--preto);
    padding: 50px 10px;
}

#poetacaos .Flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textoPoeta h2 {
    margin-bottom: 15px;
    color: var(--dourado);
    text-align: center;
    font-weight: 900;
}

#textoPoeta p {
    margin-bottom: 15px;
    color: var(--branco);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#video {
    display: flex;
    justify-content: center;
}

#video iframe {
    width: 340px;
    height: 191px;
}

/* JimDoors */
#jimdoors {
    padding: 50px 10px;
}

#jimdoors .Flex3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textoJimDoors h2 {
    margin-bottom: 15px;
    color: var(--dourado);
    text-align: center;
    font-weight: 900;
}

#textoJimDoors p {
    margin-bottom: 15px;
    color: var(--preto);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#jimdoors .qrcode {
    display: none;
}

#jimdoors .btnInsta {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--douradoClaro);
    padding: 2px 20px;
    color: var(--branco);
    border-radius: 25px;
    border: 2px solid var(--douradoClaro);
    width: fit-content;
    margin: 20px auto;
    display: block;
}

/* Fim - Smartphone Portrait */


/* Smartphone Landscape */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main {
        height: 130vh;
    }

    main h1 {
        font-size: 2.75rem;
    }

    /* Destaque */
    #destaque {
        padding: 50px 0px;
    }

    #destaque>.container {
        flex-direction: row;
        align-items: center;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        display: none;
    }

    #hero-text {
        max-width: 400px;
    }

    #hero-text p {
        text-align: left;
    }

    .topics {
        display: none;
    }
}

/* Fim - Smartphone Landscape */


/* Tablet Portrait */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Principal */
    main {
        height: 70vh;
    }

    main h1 {
        font-size: 3.9rem;
    }

    main h2 {
        font-size: 3rem;
    }

    /* Poeta do Caos */
    #video iframe {
        width: 600px;
        height: 338px;
    }
}

/* Fim - Tablet Portrait */


/* Tablet Landscape */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }

    /* Principal */
    main {
        height: 90vh;
    }

    /* Destaque */
    #hero-text {
        max-width: 900px;
    }

    /* Poeta do Caos */
    #video iframe {
        width: 720px;
        height: 405px;
    }
}

/* Fim - Tablet Landscape */


/* Notebook/PC */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    main .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    /* Cabeçalho */
    header {
        height: 55px;
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: auto;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a:hover {
        color: var(--areia);
    }

    /* Principal */
    main {
        height: 85vh;
    }

    main h1 {
        margin-bottom: 0.3rem;
    }

    main h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    main a.btn {
        margin-top: 0;
    }

    /* Destaque */
    #destaque {
        background-attachment: fixed;
    }

    #destaque>.container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    #hero {
        flex: 0 0 350px;
    }

    #hero img {
        display: block;
        width: 400px;
        height: 400px;
    }

    #hero-text h2 {
        text-align: left;
    }

    #hero-text {
        flex: 1;
        text-align: left;
        margin: 0;
    }

    .topics {
        display: flex;
    }

    /* O Poeta do Caos */
    #poetacaos .Flex2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    #textoPoeta {
        max-width: 550px;
        text-align: left;
    }

    #video {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #video iframe {
        width: 560px;
        height: 315px;
        max-width: 100%;
        border: none;
    }

    /* JimDoors */
    .Flex3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        max-width: 1140px;
        margin: 0 auto;
    }

    #jimdoors {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        background: url(./img/jim.jpg) center/cover no-repeat fixed;
        padding: 50px 0;
    }

    #jimdoors #textoJimDoors {
        flex: 1;
        max-width: 600px;
    }

    #jimdoors .qrcode {
        display: flex;
        justify-content: flex-end;
        flex: 0 0 300px;
    }

    #jimdoors .qrcode img {
        width: 300px;
        height: auto;
    }
}

/* Fim - Notebook/PC */


/* FULL HD / 4K */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }

    /* Principal */
    main h1 {
        font-size: 6rem;
    }

    /* Poeta do Caos */

    #video {
        margin-left: 50px;
    }

    #video iframe {
        width: 560px;
        height: 315px;
        max-width: 100%;
        border: none;
    }
}
/* Fim */
/* Fim - FULL HD / 4K */